# Git
.git
.gitignore
.gitattributes
.github

# Docker
Dockerfile
compose.yaml
.dockerignore

# Composer
vendor

# Laravel
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php

# Tests
tests
phpunit.xml

# IDE / Editor
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
docs

# Misc
*.log
*.tmp

mariadb-root-pw.txt